
<div class="accordion-item bg-dark text-white p-0 m-0">
    <h2 class="accordion-header p-0 m-0 d-flex justify-content-center" id="accountsSidebar-headingOne">
        <button
            class="bg-dark text-white h5 p-0 mt-2 pb-2 border-0"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#accountsSidebar-collapseOne"
            aria-expanded="true"
            aria-controls="accountsSidebar-collapseOne">
            <i class="fa fa-bank"></i> 
            <span class="p-0 m-0 ps-1">
                Bank Accounts
            </span>
        </button>
    </h2>
    <div
    id="accountsSidebar-collapseOne"
    class="accordion-collapse collapse show"
    aria-labelledby="accountsSidebar-headingOne"
    >
        <div class="accordion-body p-0 m-0 ps-2">
            <ul class="list-group list-group-flush p-0 m-0">
                {% for bank_account in bank_accounts %}
                <li class="list-group-item bg-dark text-white p-0 py-1 pe-2 d-flex flex-column justify-content-lg-evenly">
                    <div class="d-flex justify-content-between">
                        <span>{{ bank_account.memo }}</span>
                        <span>
                            <a
                                style="cursor: pointer;"
                                data-target="#accountInfoModalCenter"
                                data-bs-toggle="modal"
                                data-bs-target="#accountInfoModal"
                                data-bs-whatever=""
                                onclick="getAccountInfo({{ bank_account.bank_account_id }})"
                                >
                                <i class="fa fa-credit-card"></i>
                            </a>
                        </span>
                    </div>
                    <div class="ps-1 d-flex justify-content-between">
                        <span class="small text-light">{{ bank_account.card_number }}</span>
                        <span class="small text-light">{{ bank_account.currency_code }} {{ bank_account.balance }}</span>
                    </div>
                </li>
                {% endfor %}
                {% if total_balance %}
                <hr class="m-0 p-0">
                <li class="list-group-item bg-dark text-white p-0 py-1 pe-2 d-flex flex-column justify-content-lg-evenly">
                    <div class="ps-1 d-flex justify-content-between">
                        <span class="small text-light"></span>
                        <span class="small text-light">{{ total_balance.currency_code }} {{ total_balance.balance }}</span>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<!-- modal for account information details -->
<div class="modal fade text-dark" id="accountInfoModal" tabindex="-1" aria-labelledby="accountInfoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="accountInfoModalLabel">Account Information</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="accountInfoBody">
          Account Details
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<script>
    {% include './_bank_account_sidebar.js' %}
</script>
