{% extends 'pfp/base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock %}

{% block maincontent %}
<div class="row p-5 small">
    <h1>Assets</h1>
    <form class="row bg-white" id='create_asset_form'>
        {% csrf_token %}
        <div class="col-md-4 col-lg-4 col-xl-2 p-2 dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="asset_categories_dropdown_btn">
              Asset Category
            </button>
            <ul class="dropdown-menu w-100" id="asset_categories_dropdown">
            </ul>
          </div>
        <div class="col-md-4 col-lg-4 col-xl-3 p-2 dropdown">
            <button class="btn btn-secondary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="asset_subcategories_dropdown_btn">
              Asset Sub Category
            </button>
            <ul class="dropdown-menu w-100" id="asset_subcategories_dropdown">
            </ul>
        </div>
        <div class="col-md-1 col-lg-1 col-xl-1 p-2 dropdown">
            <button class="btn btn-primary w-100" type="button" id="create_asset_from_btn" onclick="addAsset()">
              Register
            </button>
        </div>
    </form>
</div>

{% endblock maincontent %}


{% block components %}
<script>
    const assetCategoriesDropDown = document.getElementById('asset_categories_dropdown')
    const assetCategoriesDropDownBtn = document.getElementById('asset_categories_dropdown_btn')
    const assetSubCategoriesDropDown = document.getElementById('asset_subcategories_dropdown')
    const assetSubCategoriesDropDownBtn = document.getElementById('asset_subcategories_dropdown_btn')
    const assetSubCategories = {}
    const assetCategories = {}
    const assetCategoriesListURL = 'http://localhost:8000/pfp/api/assets_categories/list/'
    // adding new asset category
    // variables to store information of new asset category
    let newAsset = {
        assetCategoryId: null,
        assetSubCategoryId: null
    }




    // functions to set attributes of new assets
    function AssetCategoryDropDownClick(event) {
        newAsset.assetCategoryId = +(event.target.id.replace("asset-category-", ""))
        console.log("Asset Category id = ", newAsset.assetCategoryId);
        console.log(event.innerText)
        assetCategoriesDropDownBtn.innerText = assetCategories[newAsset.assetCategoryId]
        assetCategoriesDropDownBtn.classList.add('bg-success')
        console.log(assetCategoriesDropDown)

        // fill the second dropdown (for sub categories of the assets)
        const subCategories = assetSubCategories[newAsset.assetCategoryId];

        assetSubCategoriesDropDown.innerHTML = ''
        assetSubCategoriesDropDownBtn.innerText = 'Asset Sub Category'
        assetSubCategoriesDropDownBtn.classList.remove("bg-success")
        djbCreateDropDownElement(
            ulElement=assetSubCategoriesDropDown,
            idPrefix='asset-subcategory-',
            idKey='asset_subcategory_id',
            nameKey='name',
            listOfOobjects=subCategories,
            classList=['dropdown-item', 'w-100'],
            events={
                'onclick': 'AssetSubCategoryDropDownClick(event)',
            }
        )

    }

    function AssetSubCategoryDropDownClick(event) {
        newAsset.assetSubCategoryId = +(event.target.id.replace("asset-subcategory-", ""))
        console.log("Asset SubCategory id = ", newAsset.assetSubCategoryId);
        let currentSubCategories = assetSubCategories[newAsset.assetCategoryId]
        console.log(currentSubCategories)
        for(let i=0; i < currentSubCategories.length; i++) {
            if (currentSubCategories[i]["asset_subcategory_id"] == newAsset.assetSubCategoryId) {
                assetSubCategoriesDropDownBtn.innerText = currentSubCategories[i]["name"]
                assetSubCategoriesDropDownBtn.classList.add("bg-success")
            }
        }

        // fill the second dropdown (for sub categories of the assets)
        // const subCategories = assetSubCategories[newAsset.assetCategoryId];
    }


    fetch(
        assetCategoriesListURL, 
        {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            }
        }
        )
    .then((response) => response.json())
    .then(
        (data) => {
            console.log("Data:", data.results);
            const assetCategoriesItems = data.results;
            assetCategoriesItems.forEach(
                elem => {
                    assetCategories[elem.asset_category_id] = (elem.name)
                    // associate array of subcategories of each category
                    // to the key of name asset_category_id
                    assetSubCategories[elem.asset_category_id] = (elem.subcategories)
                }
            );
            // after this for each the `assetSubCategories` variable must be something like this
            // {
            //     "117": [
            //         {
            //             "asset_subcategory_id": 476,
            //             "name": "Cash",
            //             "category": 117
            //         },
            //     ],
            //     "118": [
            //         {
            //             "asset_subcategory_id": 484,
            //             "name": "Art",
            //             "category": 118
            //         },
            //         {
            //             "asset_subcategory_id": 483,
            //             "name": "Boats",
            //             "category": 118
            //         },
            //     ]
            // }
            return assetCategoriesItems;
        }
    )
    .then(
        (assetCategoriesItems) => {
            djbCreateDropDownElement(
                ulElement=assetCategoriesDropDown,
                idPrefix='asset-category-',
                idKey='asset_category_id',
                nameKey='name',
                listOfOobjects=assetCategoriesItems,
                classList=['dropdown-item', 'w-100'],
                events={
                    'onclick': 'AssetCategoryDropDownClick(event)'
                }
            )
        }
    )
    .catch(
        (error) => {
            console.error('Error:', error);
        }
    );



    function addAsset() {
        console.log('wef')
        let form = document.forms.create_asset_form;
        let formData = new FormData(form);
        let csrftoken = formData.get("csrfmiddlewaretoken");
        console.log("csrftoken = ", csrftoken)
        const data = {
            'asset_sub_category_id': newAsset.assetSubCategoryId,
            'amount': 0,
            'unit_value': 0,
            'unit_value_currency_code': 'USD',
            'asset_category_id': newAsset.assetCategoryId,
        };
        console.log(data);

        fetch('http://localhost:8000/pfp/api/assets/create/', {
            method: 'POST', // or 'PUT'
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrftoken,
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((data) => {
                console.log(data.result)
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }
     
    console.log("4")
</script>
{% endblock components %}